search {{domain}}.{{tld}}
{% for vm in groups['dns_master'] %}
{{ hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor %}
{% for vm in groups['dns_slave'] %}
{{ hostvars[vm]['ansible_default_ipv4']['address'] }}
{% endfor %}
