0 23 * * * backup mysqldump agama > /home/backup/mysql/agama.sql
0 0 * * 0  backup  duplicity --no-encryption full /home/backup/mysql/ rsync://{{ github_username }}@backup.{{ domain }}.{{ tld }}//home/elvis/
0 0 * * 1-6  backup  duplicity --no-encryption incremental /home/backup/mysql/ rsync://{{ github_username }}@backup.{{ domain }}.{{ tld }}//home/elvis/