zone "{{domain}}.{{tld}}" {
{% if inventory_hostname in groups['dns_master'] %}
    type master;
    file "db.sus";
    allow-transfer {127.0.0.1; key transfer.key;};
    allow-update {key nsupdate.key;};
{% else %}
    type slave;
    masters { {% for vm in groups['dns_master'] %}{{ hostvars[vm]['ansible_default_ipv4']['address'] }};
    {% endfor %} };
{% endif %}
};

{% if inventory_hostname in groups['dns_slave'] %}
server {{ hostvars[groups['dns_master'][0]]['ansible_default_ipv4']['address'] }} {
    keys { transfer.key; };
};
{% endif %}

zone "42.168.192.in-addr.arpa" {
{% if inventory_hostname in groups['dns_master'] %}
    type master;
    file "db.sus.reverse";
    allow-transfer {127.0.0.1; key transfer.key;};
    allow-update {key nsupdate.key;};
{% else %}
    type slave;
    masters { {% for vm in groups['dns_master'] %}{{ hostvars[vm]['ansible_default_ipv4']['address'] }};
    {% endfor %} };
{% endif %}
};
